/* TODO: Below (1320px / 16px) Lebih kecil Desktop */
@media (max-width: 82.5em) {
  .grid {
    column-gap: 3.2rem;
  }

  .main-nav-list {
    gap: 4.8rem;
  }

  .heading-primary {
    font-size: 5.2rem;
  }
}

/* TODO: Below (1148px) landscape tablets*/
@media (max-width: 71.75em) {
  html {
    /* ? 9px / 16px * 100 */
    font-size: 56.25%;
  }

  .navigation {
    margin: 0 6.4rem;
  }

  .container {
    padding: 0 6.4rem;
  }

  .container-best-seller {
    padding-left: 6.4rem;
  }

  .text-subheader-service {
    font-size: 1.8rem;
  }

  .icon-service {
    height: 4.4rem;
  }

  .grid-footer {
    column-gap: 3.2rem;
  }
}

/* TODO: Below (944px) Tablets*/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .grid-col-2 {
    grid-template-columns: 50fr 50fr;
  }

  .plant-reference {
    padding: 0 6.4rem;
  }
}

/* TODO: Below (840px) Smaller Tablets*/
@media (max-width: 52.5em) {
  .header-text-box {
    width: 90%;
  }

  .hover-product {
    display: none;
    visibility: hidden;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6.4rem;
  }

  .service-item:nth-child(3) {
    grid-column: 1 / -1;
  }

  .container-footer {
    padding: 6.4rem;
  }

  .footer-cta {
    grid-column: 1 / -1;
  }

  .form-subs {
    width: 70%;
  }

  .frame-footer {
    grid-column: 1 / -1;
  }
}

/* TODO: Below (704px) Smaller Tablets*/

@media (max-width: 44em) {
  .container {
    padding: 0 3rem;
  }

  .container-best-seller {
    padding-left: 3rem;
  }

  .sticky .navigation {
    background: linear-gradient(93.99deg, #4b5867f2 0.51%, #283444f6 100%);
    backdrop-filter: unset;
  }

  .nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }

  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    background: linear-gradient(93.99deg, #56627095 0.51%, #283444 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    justify-content: center;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 3;

    opacity: 0;
    visibility: hidden;
  }

  .nav-open .icon-mobile-nav:nth-child(1) {
    display: block;
  }

  .nav-open .icon-mobile-nav:nth-child(2) {
    display: none;
  }

  .icon-mobile-nav:nth-child(1) {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.6rem;
  }

  .navigation {
    margin: 0 2.4rem;
    justify-content: normal;
  }

  .logo-nav {
    order: 1;
    margin: auto;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 4;
  }

  .btn-mobile-nav {
    order: 2;
    background: none;
    border: none;
    cursor: pointer;
  }

  .icon-mobile-nav {
    color: #fff;
    height: 4.8rem;
    width: 4.8rem;
  }

  /* .icon-mobile-nav:nth-child(1) {
    display: none;
  } */

  .grid-plane {
    gap: 2.4rem;
    grid-template-columns: 1fr;
  }

  .img-plant-care {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .grid-footer {
    grid-template-columns: 1fr;
    column-gap: 6.4rem;
    row-gap: 4.8rem;
  }

  .text-box {
    grid-column: 1 / -1;
  }

  .sliders {
    grid-column: 1 / -1;
  }

  .text-box .heading-secondary {
    font-size: 3.6rem;
  }

  .text-box .heading-tertiary {
    font-size: 2.4rem;
  }

  .col-best-seller {
    gap: 3.4rem;
  }
}

/* TODO: Below (560px) Smaller Tablets*/
@media (max-width: 35em) {
  html {
    font-size: 43.75%;
  }

  .best-seller-product .text-box {
    padding-bottom: 4.8rem;
  }

  .plant-reference {
    padding: 0 2.4rem;
  }

  .category-plant {
    gap: 2.4rem;
  }

  .img-item,
  .img-item::before,
  .img-plant-category {
    text-align: center;
    border-radius: 3rem;
  }

  .container-footer {
    padding: 3rem;
  }

  .form-subs {
    width: 100%;
  }

  .frame-footer {
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;
  }

  .service-item {
    justify-items: center;
    column-gap: 0;
  }

  .icon-service {
    grid-column: 1 / -1;
    margin-bottom: 1.6rem;
  }
}
