/* TODO: NAVIGATION - NAVBAR */
.header {
  height: 100vh;
  background-image: url(/assets/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.header::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  height: 20rem;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.85)
  );
}

.header-nav {
  padding-top: 3.2rem;
}

.navigation {
  margin: 0 9.6rem;
  height: 4.6rem;
  display: flex;
  justify-content: space-around;
}

.logo-nav {
  display: flex;
  align-items: center;
}

.logo {
  height: 4.6rem;
  margin: auto;
}

.chart {
  height: 4rem;
}

.main-nav {
  display: flex;
  align-items: center;
  margin: auto;
}

.main-nav-list {
  display: flex;
  gap: 6.8rem;
}

.main-nav-list li {
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
}

.nav-link-active {
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

.logo-chart:link,
.logo-chart:visited {
  position: relative;
  color: #081323;
}

.chart-count {
  position: absolute;
  top: 3px;
  left: 18px;
  display: flex;
  width: 2.1rem;
  height: 2.1rem;
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  border-radius: 5rem;
  font-size: 1.4rem;
}

.btn-mobile-nav {
  display: none;
}

.chart-count strong {
  margin: auto;
}

.header-text-box {
  width: 70%;
  margin: 12rem auto;
  text-align: center;
}

.text-header {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1.6rem;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.form-search {
  position: relative;
  margin: auto;
  width: 40rem;
  height: 4.8rem;
  padding: 3.2rem 1.8rem;
  border-radius: 100px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.input-text-search {
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.6rem;
  border: none;
  width: 40rem;
  height: 4.8rem;
  padding: 3.2rem 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: none;
  overflow: hidden;
}

.input-text-search:focus,
.input-text:focus {
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.269);
}

.input-text-search::placeholder,
.input-text::placeholder {
  color: #fff;
  letter-spacing: 2px;
}

.search-button {
  position: absolute;
  right: -10px;
  top: 50%;
  width: 4.5rem;
  height: 4.5rem;
  transform: translate(-50%, -50%);
  border-radius: 5rem;
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  border: none;
  cursor: pointer;
}

.hover-product {
  position: absolute;
  top: 40%;
  left: 4%;
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.hover-product::before {
  content: "";
  display: block;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ffffffbe;
  border-radius: 100px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-product:nth-child(2) {
  top: 50%;
  left: 11%;
}

.hover-product:nth-child(3) {
  top: 60%;
  left: 87%;
}

.hover-product:hover .card-plant {
  opacity: 1;
  visibility: visible;
}

.card-plant {
  font-size: 2.4rem;
  color: #fff;
  padding: 1.4rem 1.8rem;
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -130%);
  display: inline-block;
  border-radius: 1.8rem;
  background: rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
}

.text-card-plant {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
}

.subtext-card-plant {
  font-size: 1.4rem;
}

/* TODO: SECTION SERVICE */

.section-service {
  padding: 9.6rem 0;
}

.services {
  justify-items: center;
}

.service-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 2.4rem;
}

.text-box-service {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.2rem;
}

.icon-service {
  height: 5.6rem;
}
.text-header-service {
  font-size: 3rem;
  font-weight: 500;
}
.text-subheader-service {
  color: #828282;
  font-size: 2rem;
}

/* TODO: SECTION BEST SELLER */

.section-best-seller {
  /* padding: 6.4rem 0 0 0; */
}

.best-seller-product {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.text-box {
  display: grid;
  /* flex-direction: column; */
  /* justify-content: center; */
  gap: 2.4rem;
}

.text-box .heading-secondary {
  align-self: end;
}

.col-best-seller {
  display: grid;
  column-gap: 6.4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
}

.sliders {
  overflow-x: auto;
  padding: 15rem 0;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.sliders::-webkit-scrollbar {
  display: none;
}

.see-all {
  display: flex;
  gap: 2.4rem;
  align-items: start;
  text-decoration: none;
}

.see-all:hover {
  text-decoration: underline;
  text-underline-offset: 0.8rem;
}

.best-seller.grid {
  column-gap: 2.4rem;
}

.figure-pant {
  position: relative;
  background-color: #c1d0e4;
  font-size: 2.4rem;
  font-weight: 500;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
}

.img-best {
  display: flex;
}

.img-best::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 12rem);
  width: 8rem;
  height: 1.4rem;
  background-color: #a2a2a2;
  border-radius: 50%;
  filter: blur(8px);
}

.img-best-plant {
  margin: 0 auto;
  transform: translate(0, -50%);
  height: 25rem;
}

.card-plant-best {
  display: flex;
  row-gap: 4.8rem;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5rem;
  padding: 3.2rem;
  box-shadow: 0 1.8rem 3.2rem rgba(0, 0, 0, 0.035);
  margin-top: -8rem;
}

.stars {
  display: flex;
  gap: 5px;
}
.card-title {
  margin-bottom: 0.8rem;
}

.btn-add-chart {
  border: none;
}

.card-plant-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-add-chart {
  background-color: unset;
  cursor: pointer;
}

.icon-plus {
  height: 4.8rem;
}

/* TODO:  SECTION INTERIOR PLANT*/

.text-box-heading {
  margin-bottom: 8rem;
}

.category-plant {
  display: grid;
  gap: 3.6rem;
  justify-content: center;
}

.img-item {
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}

.img-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.img-item:hover.img-item::before,
.img-item:hover .text-img {
  opacity: 1;
  visibility: visible;
}

.text-img {
  position: absolute;
  font-size: 3.2rem;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.img-plant-category {
  width: 100%;
  border-radius: 5rem;
  margin-left: auto;
}

.img-plant-category:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.aside-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-img .img-item {
  display: flex;
}

/* TODO:  SECTION PLANT CARE */

.section-plant-care {
  padding: 12rem 0 13rem;
}

.grid-plane {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
}

.list-care {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.list-care-item {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
}

.text-box-care {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.icon-care {
  height: 4.8rem;
}

.heading-text {
  font-size: 2.4rem;
  font-weight: 500;
}

.subheading-text {
  color: #828282;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.img-plant-care {
  width: 100%;
  align-self: center;
  justify-self: center;
}

/* TODO:  FOOTER */
.footer {
  background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
  color: #fff;
}

.container-footer {
  padding: 9.6rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 6.4rem;
  row-gap: 4.8rem;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.text-header-footer {
  font-size: 4.4rem;
}

.frame-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 3.2rem;
}

.nav-col,
.contacts {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer-heading {
  font-size: 2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link {
  list-style: none;
}

.footer-link a:link,
.footer-link a:visited {
  text-decoration: none;
  color: #d2d2d2;
  font-size: 1.6rem;
  font-weight: 400;
}

.form-subs {
  position: relative;
  width: 100%;
  height: 4.8rem;
  padding: 3.2rem 1.8rem;
  border-radius: 100px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.input-text {
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.6rem;
  border: none;
  width: 100%;
  height: 4.8rem;
  padding: 3.2rem 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: none;
  overflow: hidden;
}

.subscrabe-button {
  position: absolute;
  right: -40px;
  top: 50%;
  width: 12rem;
  height: 4rem;
  transform: translate(-50%, -50%);
  border-radius: 5rem;
  background: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  border: none;
  cursor: pointer;
  color: #fff;
}

.footer-line {
  /* grid-row: 3 / -1; */
  grid-column: 1 / -1;
  border: 0.5px solid #d2d2d2;
}

.copyright {
  color: #d2d2d2;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.6rem;
}
